<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
    <add key="internal" value="https://internal-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="keyboard-release" value="https://release-manager-internal.avaloniaui.net/nuget/avalonia-controls-keyboard/versions/12.0.1/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <internal>
      <add key="Username" value="general" />
      <add key="ClearTextPassword" value="Udooxauxeepha2xov7ph" />
    </internal>
  </packageSourceCredentials>
</configuration>
